{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'slice-gallery-items',
  ]
%}

{% if multiple %}

  <div{{ attributes.addClass(classes, 'field__items row no-gutters') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item slice slice-gallery-item col-6 col-sm-4 col-lg-3') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>

{% else %}

  {% for item in items %}
    <div{{ attributes.addClass(classes, 'field__item slice slice-gallery-item') }}>
      {{ item.content }}
    </div>
  {% endfor %}

{% endif %}
